:root {
    --red: red;
    --purple: purple;
}


.splitscreen {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.playerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 30px;
    background: coral;
    width: 400px;
    height: 600px;
}

.D6 {
    width: 50px;
    height: 50px;
    background: white;
}

.heart {
    fill: url(#grad1);
}

svg.heart-copy {
    --outer: red;
    --inner: var(--purple);
    width: 1000px;
}

svg.shield-icon {
    fill: red;
}

.heartIcon {
    width: 30px;
    height: 30px;
    margin: 2px;
}

.heartIcon svg {
    width: 100%;
    height: 100%;
}

.healthBar {
    display: flex;
    flex-wrap: wrap;
}