:root {
    --red: red;
    --purple: purple;
}


.splitscreen {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.playerCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px;
    padding: 30px;
    background: coral;
    width: 400px;
    height: 600px;
}

.D6 {
    width: 50px;
    height: 50px;
    background: white;
}

.heartIcon {
    width: 30px;
    height: 30px;
    margin: 2px;
    transform: rotate(45deg);
}

.heartIcons svg,
.mightIcons svg {
    width: 100%;
    height: 100%;
    fill: darkred;
}

.healthBar,
.mightBar {
    display: flex;
    flex-wrap: wrap;
    /* transform: rotate(20deg); */
}

.mightIcons {
    width: 30px;
    height: 30px;
    margin: 2px;
}